<nb-card accent="primary" *ngIf="!isPast">
  <nb-card-header>
    <nb-user size="giant"
             [picture]="imageUrl"
             [name]="cucu.userName"
             [title]="timeLabel"
             [badgeText]="cucu.language"
             [badgeStatus]="'primary'"
             [badgePosition]="'bottom right'">
    </nb-user>
  </nb-card-header>
  <nb-card-body>
    {{cucu.topic}}
  </nb-card-body>
  <nb-card-footer>
    <button *ngIf="isEnabled()" (click)="toCall()" nbButton [status]="'primary'"
            [shape]="'rectangle'" [nbTooltip]="'Entra'" nbTooltipStatus="basic">
      {{ "cucuBox.join.LABEL" | translate }}
    </button>
    <button nbButton [shape]="'rectangle'" [nbTooltip]="comebackLaterText" nbTooltipStatus="basic" *ngIf="!isEnabled()">
      {{ "cucuBox.join.LABEL" | translate }}
    </button>
  </nb-card-footer>
</nb-card>

<nb-card *ngIf="isPast">
  <nb-card-header>
    <nb-user size="giant"
             [picture]="imageUrl"
             [name]="cucu.userName"
             [title]="timeLabel"
             [badgeText]="cucu.language"
             [badgeStatus]="'basic'"
             [badgePosition]="'bottom right'">
    </nb-user>
  </nb-card-header>
  <nb-card-body>
    {{cucu.topic}}
  </nb-card-body>
  <nb-card-footer>
    <button [disabled]="true" nbButton [shape]="'rectangle'">
      Concluso
    </button>
  </nb-card-footer>
</nb-card>
