nb-card {
  // height: 100%;
}

.icon-buttons {
  text-align: right;
  width: 100%;
}

nb-card-body {
  .container-fluid {
    padding: 0;
  }

  .video-service-image {
    text-align: right;

    img {
      width: 35px;
      opacity: 1;
    }
  }

}

nb-card-footer {
  display: flex;
}
