<nb-card>
  <nb-card-header>
    <nb-user size="giant"
             [picture]="imageUrl"
             [name]="cucu.userName"
             [title]="day + ' at ' + time"
             [badgeText]="cucu.language"
             [badgeStatus]="'primary'"
             [badgePosition]="'bottom right'">
    </nb-user>
  </nb-card-header>
  <nb-card-body>
    {{cucu.topic}}
  </nb-card-body>
  <nb-card-footer>
    <button [disabled]="false" (click)="toCall()" nbButton [status]="getStatus()"
            [shape]="'rectangle'">
      Join
    </button>
  </nb-card-footer>
</nb-card>
