<!-- Upcoming CUCU -->
<nb-card accent="primary" *ngIf="!isPast" status="basic">
  <nb-card-header>
    <nb-user size="giant"
             [picture]="imageUrl"
             [name]="cucu?.userName"
             [title]="timeLabel"
             [badgeText]="cucu?.language"
             [badgeStatus]="'primary'"
             [badgePosition]="'bottom right'">
    </nb-user>
  </nb-card-header>
  <nb-card-body>
    <b>{{ cucu?.topic }}</b>
    <p>{{ cucu?.type === 'conference' ? 'Conference' : '' }}</p>
    <p>{{ cucu?.description }}</p>
  </nb-card-body>
  <nb-card-footer>
    <button *ngIf="cucu.startDate | cucuIsOpen" (click)="toCall($event)" nbButton [status]="'primary'"
            [shape]="'rectangle'" [nbTooltip]="'Entra'" nbTooltipStatus="basic">
      {{ "cucuBox.join.LABEL" | translate }}
    </button>
    <button nbButton [shape]="'rectangle'" *ngIf="!(cucu.startDate | cucuIsOpen)" (click)="disabledJoinClicked($event)">
      <!--            [nbTooltip]="comebackLaterText" nbTooltipStatus="basic" -->
      {{ "cucuBox.join.LABEL" | translate }}
    </button>
    <!-- Calendar & Share Buttons -->
    <div class="icon-buttons">
      <button (click)="calendarClicked($event)" [size]="'medium'" nbButton ghost>
        <nb-icon icon="calendar-outline"></nb-icon>
      </button>
      <button (click)="shareClicked($event)" [size]="'medium'" nbButton ghost>
        <nb-icon icon="share-outline"></nb-icon>
      </button>
    </div>
  </nb-card-footer>
</nb-card>

<!-- Past CUCU -->
<nb-card *ngIf="isPast" status="basic">
  <nb-card-header>
    <nb-user size="giant"
             [picture]="imageUrl"
             [name]="cucu?.userName"
             [title]="timeLabel"
             [badgeText]="cucu?.language"
             [badgeStatus]="'basic'"
             [badgePosition]="'bottom right'">
    </nb-user>
  </nb-card-header>
  <nb-card-body>
    <b>{{ cucu?.topic }}</b> | {{ cucu?.type === 'conference' ? 'Conference' : 'Chit Chat' }}
    <p>{{ cucu?.description }}</p>
  </nb-card-body>
  <nb-card-footer>
    <button [disabled]="true" nbButton [shape]="'rectangle'">
      {{ "cucuBox.join.ENDED" | translate }}
    </button>
  </nb-card-footer>
</nb-card>
