<nb-card accent="success" [size]="'large'">
  <nb-card-header>{{ "SUCCESS" | translate }}</nb-card-header>
  <nb-card-body>
    <div class="container-fluid">
      <h3>{{ "postCucu.CUCU_POSTED" | translate }}</h3>
      <div class="row">
        <div class="col col-md-12">
          <div class="form-group">
            <nb-form-field>
              <nb-icon nbPrefix icon="link-outline" pack="eva"></nb-icon>
              <input type="text" [value]="cucu._id | getCucuUrl" nbInput fullWidth
                     [shape]="theme.componentShape">
            </nb-form-field>
          </div>
        </div>
      </div>
      <div class="ws-s"></div>
      <app-cucu-box [cucu]="cucu"></app-cucu-box>
      <div class="row">
        <div class="col">
          <button nbButton status="danger" fullWidth>
            <nb-icon icon="trash"></nb-icon>
            {{ "DELETE" | translate }} CUCU
          </button>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>

