<nb-card accent="success" [size]="'large'">
  <nb-card-header>{{ "SUCCESS" | translate }}</nb-card-header>
  <nb-card-body>
    <h3>{{ "postCucu.CUCU_POSTED" | translate }}</h3>
    <div class="row">
      <div class="col col-md-12">
        <div class="form-group">
          <nb-form-field>
            <nb-icon nbPrefix icon="link-outline" pack="eva"></nb-icon>
            <input type="text" [value]="'https://cucuit.com/' + cucu._id" nbInput fullWidth [shape]="'rectangle'">
          </nb-form-field>
        </div>
      </div>
    </div>
    <div class="ws-s"></div>
    <app-cucu-box [cucu]="cucu"></app-cucu-box>
  </nb-card-body>
  <nb-card-footer></nb-card-footer>
</nb-card>

