h6 {
  color: white;
}

.footer-social {
  a {
    padding-right: 8px;
  }
}

.languages-div {
  p {
    cursor: pointer;
    margin-bottom: 0;
  }
}


.single-footer-widget {
  padding: 1rem 2rem;

  a {
    text-decoration: underline;
    cursor: pointer;
  }
}
