<div class="container-fluid">
  <div class="row">
    <div class="col-lg-5 col-md-6 col-sm-6">
      <div class="single-footer-widget">
        <h6>{{ "footer.aboutUs.LABEL" | translate }}</h6>
        <p>{{ "footer.aboutUs.TEXT" | translate }}</p>
        <p class="footer-text">Copyright &copy; {{year}} All rights reserved</p>
        <div class="ws-m"></div>
        <h6>Contact</h6>
        <a href="mailto:ciao@cucuit.com">ciao@cucuit.com</a>
      </div>
    </div>
    <div class="col-lg-4  col-md-6 col-sm-6">
      <div class="single-footer-widget">
        <h6>{{ "footer.donate.LABEL" | translate }}</h6>
        <p>{{ "footer.donate.TEXT" | translate }}</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 social-widget">
      <div class="single-footer-widget">
        <div class="languages-div">
          <h6>{{ "footer.language.LABEL" | translate }}</h6>
          <p *ngFor="let l of languages" (click)="changeLanguage(l)">
            {{l.name}}
          </p>
        </div>
        <div class="ws-m"></div>
        <h6>Links</h6>
        <a routerLink="">Home</a> | <a routerLink="manifest">{{ "navbar.MANIFEST" | translate }}</a> | <a
        (click)="donationsService.toDonationSite()">{{ "navbar.DONATE" | translate }}</a>
        <div class="ws-m"></div>
        <h6>{{ "footer.followUs.LABEL" | translate }}</h6>
        <p>{{ "footer.followUs.TEXT" | translate }}</p>
        <div class="footer-social d-flex align-items-center">
          <a href="https://www.instagram.com/cucu_it/" target="_blank">
            <fa-icon [icon]="faInstagram"></fa-icon>
          </a>
          <a href="https://twitter.com/cucu_it" target="_blank">
            <nb-icon nbPrefix icon="twitter-outline" pack="eva"></nb-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
