<div class="content-padding">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-5">
        <h1>{{ "navbar.MANIFEST" | translate | uppercase }}</h1>
        <p [innerHTML]="translate.get('manifest.INTRO') | async"></p>
      </div>
      <div class="col-lg-7">
        <div class="video-container-div">
          <div>
            <iframe
              src="https://www.youtube.com/embed/Ev2KTEeWNgY?&fs=1&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0&start=0&end=0"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="ws-m"></div>
  </div>
</div>
