<div class="row">
  <div class="col-lg-7 col-md-6">
    <div class="hero-section">
      <h1>{{ "home.HERO_HEADER" | translate }}</h1>
      <p>{{ "home.HERO_TEXT" | translate }}</p>
      <div class="vdo-section">
        <a href="https://www.youtube.com/watch?v=p29dKpHnPjQ" target="_blank">
          <img src="./assets/images/video-icon.svg" alt="Play button">
        </a>
        <a href="https://www.youtube.com/watch?v=p29dKpHnPjQ"
           target="_blank">{{ "home.DISCOVER_CUCUIT" | translate }}</a>
      </div>

    </div>
  </div>
  <div class="col-lg-5 col-md-6">
    <app-add-cucu></app-add-cucu>
  </div>
</div>
<hr>
<div class="row">
  <div class="no-cucus-div">
    <p *ngIf="(dbService.cucus | async).length < 1">{{ "home.NO_CUCUS_FOUND" | translate }}</p>
  </div>
  <div *ngFor="let c of dbService.cucus | async" class="col-md-4">
    <app-cucu-box [cucu]="c" [@simpleFadeAnimation]="'in'"></app-cucu-box>
  </div>
</div>
<div class="ws-s"></div>
<div class="row">
  <div class="col-md-12 load-more-div">
    <button *ngIf="doWeHaveMore" (click)="loadMore()" nbButton status="primary"
            [shape]="'rectangle'" [size]="'medium'">
      {{ "home.LOAD_MORE" | translate }}
    </button>
  </div>
</div>
<div class="ws-m"></div>
