<div class="container-fluid">
  <div class="row hero-row">
    <div class=" col-lg-5 col-md-7 content-padding">
      <app-add-cucu></app-add-cucu>
      <!-- Info Box -->
      <nb-card class="info-card" accent="primary">
        <nb-card-body>
          <div class="row">
            <div class="col center-h">
              <p [innerHTML]="translate.get('home.INFO_BOX_TEXT') | async"></p>
              <a (click)="scrollToElement(about)">{{ "home.MORE_INFO" | translate}}</a>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="credit-badge">
      <a
        href="https://unsplash.com/@nineteen?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge"
        target="_blank" rel="noopener noreferrer"
        title="Download free do whatever you want high-resolution photos from Andrew Ly">
        <span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg"
                                                                style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white"
                                                                viewBox="0 0 32 32"><title>unsplash-logo</title>
          <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path></svg></span><span
        style="display:inline-block;padding:2px 3px">Andrew Ly</span></a>
    </div>

  </div>

  <!--  About Section -->
  <div class="row about-section">
    <span #about class="anker"></span>
    <div class="col content-padding">
      <div class="row">
        <div class="col">
          <h1>{{ "aboutSection.TITLE" | translate }}</h1>
          <p [innerHTML]="translate.get('aboutSection.TEXT') | async"></p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="about-instagram">
            <a href="https://www.instagram.com/cucu_it/" target="_blank">
              <fa-icon [icon]="faInstagram"></fa-icon>
            </a>
            <p>{{ "aboutSection.FOLLOW_US_ON_INSTAGRAM" | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <span #cucus class="anker"></span>
  <div class="ws-s"></div>

  <!-- Upcoming Cucus -->
  <ng-container *ngIf="(dbService.cucus | async) as cucus">
    <div class="cucus-section content-padding">
      <h1 *ngIf="cucus.length > 0">{{ "home.CUCUS_TITLE" | translate }}</h1>
      <div class="row upcoming-cucus">
        <div *ngFor="let c of cucus; trackBy: trackByFn" class="col-lg-4 col-md-6">
          <app-cucu-box [cucu]="c" [id]="c._id"></app-cucu-box>
        </div>
        <!-- No posted CUCUs? -->
        <div *ngIf="cucus.length < 1" class="col-12">
          <div class="ws-s"></div>
          <div class="no-cucus-div">
            <p>{{ "home.NO_CUCUS_FOUND" | translate }}</p>
          </div>
        </div>
      </div>
      <!-- Past Cucus -->
      <div class="ws-s"></div>
      <div *ngIf="(dbService.pastCucus | async) as pastCucus" class="row">
        <div *ngFor="let c of pastCucus; trackBy: trackByFn" class="col-lg-4 col-md-6">
          <app-cucu-box [cucu]="c" [isPast]="true"></app-cucu-box>
        </div>
      </div>

      <div class="ws-s"></div>
      <div class="row">
        <div class="col load-more-div">
          <button *ngIf="doWeHaveMore" (click)="loadMore()" nbButton status="primary"
                  [shape]="'rectangle'" [size]="'medium'">
            {{ "home.LOAD_MORE" | translate }}
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</div>
