.hero-row {
  background-image: url("src/assets/images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 2rem;
}
.hero-section {
  margin: 18% 15% 5% 10%;

  h1 {
    font-size: 40px;
    line-height: 1;
  }

  p {
    padding: 20px 0;
  }
}


.no-cucus-div {
  p {
    text-align: center;
  }
}

.donate-card {
}

//@media (min-width: 991px) {
//  .hero-row {
//    height: 98vh;
//  }
//}

@media (max-width: 991px) {
  .hero-section {
    h1 {
      font-size: 35px;
    }
  }
}

@media (max-width: 768px) {
  .hero-section {
    h1 {
      font-size: 30px;
    }
  }
}

.vdo-section {
  img {
    cursor: pointer;
    width: 80px;
    margin-left: -15px;
  }

  span {
    padding-left: 20px;
    font-size: 14px;
    font-weight: 500;

    a {
      color: black;
    }
  }
}

.load-more-div {
  text-align: center;
}
