<nb-layout>

  <nb-layout-header [fixed]="true">
    <div class="logo-div">
      <a [routerLink]="'/'">
        <img src="./assets/images/logo.svg">
      </a>
    </div>
    <div class="nav-items-div">
      <ng-container *ngIf="!smallDevice">
        <button nbButton ghost [routerLink]="'manifest'" status="primary">
          {{ "navbar.MANIFEST" | translate }}
        </button>
        <button (click)="donationsService.toDonationSite()" nbButton [ghost]="true" status="primary">
          {{ "navbar.DONATE" | translate }}
        </button>
      </ng-container>
      <ng-container *ngIf="smallDevice && menuItems?.length > 0">
        <button nbButton ghost [nbContextMenu]="menuItems" status="primary" size="large"
                nbContextMenuTag="mobile-context-menu">
          <nb-icon icon="menu-outline" pack="eva"></nb-icon>
        </button>
      </ng-container>
    </div>
  </nb-layout-header>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
  <nb-layout-footer [fixed]="false">
    <app-footer></app-footer>
  </nb-layout-footer>

</nb-layout>
