nb-layout-header {
  .logo-div {
    img {
      width: 160px;
    }
  }

  .nav-items-div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}


:host nb-layout-header ::ng-deep nav {
  justify-content: flex-end;
}

