<nb-layout>

  <nb-layout-header fixed>
    <div class="logo-div">
      <a [routerLink]="'/'">
        <img src="./assets/images/ci-logo.png">
      </a>
    </div>
    <div class="nav-items-div">
      <button nbButton [ghost]="true" status="primary" [routerLink]="'how-it-works'">
        How it works
      </button>
    </div>
  </nb-layout-header>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <a>Privacy Policy</a>
  </nb-layout-footer>

</nb-layout>
