<nb-layout>

  <nb-layout-header [fixed]="true">
    <div class="logo-div">
      <a [routerLink]="'/'">
        <img src="./assets/images/ci-logo.png">
      </a>
    </div>
    <div class="nav-items-div">
      <button nbButton [ghost]="true" [routerLink]="'how-it-works'" status="primary"
              gtagEvent trackOn="click" action="manifesto_clicked">
        Manifesto
      </button>
      <button nbButton [ghost]="true" status="primary"
              gtagEvent trackOn="click" action="donate_clicked">
        Donate
      </button>
    </div>
  </nb-layout-header>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer [fixed]="false">
    <app-footer></app-footer>
  </nb-layout-footer>

</nb-layout>
