nb-layout-header {
  // background-color: transparent !important;
  .logo-div {
    img {
      width: 160px;
    }
  }

  .nav-items-div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

nb-layout-column {
  padding: 0 !important;
}
:host nb-layout-header ::ng-deep nav {
  justify-content: flex-end;
}

