<div class="row">
  <div class="col-md-12">
    <div class="left-col">
      <h1>{{ "navbar.MANIFEST" | translate | uppercase }}</h1>
      <p [innerHTML]="translate.get('manifest.INTRO') | async"></p>
      <div class="ws-m"></div>
      <h3>{{ "manifest.paragraph1.TITLE"| translate }}</h3>
      <p [innerHTML]="translate.get('manifest.paragraph1.TEXT') | async"></p>
      <div class="ws-m"></div>
      <h3>{{ "manifest.paragraph2.TITLE"| translate }}</h3>
      <p [innerHTML]="translate.get('manifest.paragraph2.TEXT') | async"></p>
      <div class="ws-m"></div>
      <h3>{{ "manifest.paragraph3.TITLE"| translate }}</h3>
      <p [innerHTML]="translate.get('manifest.paragraph3.TEXT') | async"></p>
    </div>
  </div>
</div>
