<div class="content-padding">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-5">
        <h1>{{ "manifest.paragraph1.TITLE"| translate }}</h1>
        <p [innerHTML]="translate.get('manifest.paragraph1.TEXT') | async"></p>
      </div>
      <div class="col-lg-7">
        <div class="video-container-div" *ngIf="(videoUrl | async)?.length > 0">
          <div>
            <iframe
              [src]="videoUrl | async | sanitizeUrl"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="ws-m"></div>
        <h1>{{ "manifest.paragraph2.TITLE"| translate }}</h1>
        <p [innerHTML]="translate.get('manifest.paragraph2.TEXT') | async"></p>
        <div class="ws-m"></div>
        <h1>{{ "how.TITLE" | translate }}</h1>
        <h2>{{ "how.description1.TITLE" | translate }}</h2>
        <p [innerHTML]="translate.get('how.description1.TEXT') | async"></p>
        <h2>{{ "how.description2.TITLE" | translate }}</h2>
        <p [innerHTML]="translate.get('how.description2.TEXT') | async"></p>
        <h2>{{ "how.description3.TITLE" | translate }}</h2>
        <p [innerHTML]="translate.get('how.description3.TEXT') | async"></p>
        <h2>{{ "how.description4.TITLE" | translate }}</h2>
        <p [innerHTML]="translate.get('how.description4.TEXT') | async"></p>
        <div class="ws-m"></div>
      </div>
    </div>
    <div class="ws-m"></div>
  </div>
</div>
