<nb-card accent="primary" [size]="'large'" class="dialog-card">
  <nb-card-body>
    <div class="container-fluid">
      <h1>{{ "cucuBox.share.TITLE" | translate }}</h1>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <nb-form-field>
              <nb-icon nbPrefix icon="link-outline" pack="eva"></nb-icon>
              <input type="text" [value]="cucu._id | getCucuUrl" nbInput fullWidth
                     [shape]="theme.componentShape">
            </nb-form-field>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>

