@import 'themes';

@import '~@nebular/theme/styles/globals';
@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');

@include nb-install() {
  @include nb-theme-global();
}


//h1, h2 {
//  font-family:
//}
//

h1, h2 {
  color: black !important;
}

p {
  color: #777777 !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 1.625em !important;
}

.ws-s {
  margin: 12px;
}

.ws-m {
  margin: 25px;
}


