@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';

$nb-themes: nb-register-theme((

  // add your variables here like:

   color-primary-100: #fff,
   color-primary-200: #ffdcd2,
   color-primary-300: #ffbaa7,
   color-primary-400: #fa977d,
   color-primary-500: #f07255,
   color-primary-600: #e44a2e,
   color-primary-700: #d40000,
   color-primary-800: #cb0000,
   color-primary-900: #c30000,

), 'light-red', default);
