@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';
@import url('https://fonts.googleapis.com/css?family=Roboto:400&display=swap');

$nb-themes: nb-register-theme((
  // add your variables here like:

  font-family-primary: unquote('Roboto, sans-serif'),
  font-family-secondary: font-family-primary,
  color-primary-100: #FEEDDD,
  color-primary-200: #FDD7BC,
  color-primary-300: #FABA99,
  color-primary-400: #F69E7E,
  color-primary-500: #F07255,
  color-primary-600: #CE4E3E,
  color-primary-700: #AC2F2A,
  color-primary-800: #8B1B1F,
  color-primary-900: #73101B,
  color-primary-transparent-100: rgba(240, 114, 85, 0.08),
  color-primary-transparent-200: rgba(240, 114, 85, 0.16),
  color-primary-transparent-300: rgba(240, 114, 85, 0.24),
  color-primary-transparent-400: rgba(240, 114, 85, 0.32),
  color-primary-transparent-500: rgba(240, 114, 85, 0.4),
  color-primary-transparent-600: rgba(240, 114, 85, 0.48),
  color-success-100: #EEFDE5,
  color-success-200: #D9FBCD,
  color-success-300: #BCF4B1,
  color-success-400: #A0EA99,
  color-success-500: #77DD77,
  color-success-600: #56BE5F,
  color-success-700: #3B9F4D,
  color-success-800: #25803D,
  color-success-900: #166A33,
  color-success-transparent-100: rgba(119, 221, 119, 0.08),
  color-success-transparent-200: rgba(119, 221, 119, 0.16),
  color-success-transparent-300: rgba(119, 221, 119, 0.24),
  color-success-transparent-400: rgba(119, 221, 119, 0.32),
  color-success-transparent-500: rgba(119, 221, 119, 0.4),
  color-success-transparent-600: rgba(119, 221, 119, 0.48),
  color-info-100: #DAFCFE,
  color-info-200: #B6F5FD,
  color-info-300: #91E8FB,
  color-info-400: #75D7F8,
  color-info-500: #49BEF4,
  color-info-600: #3596D1,
  color-info-700: #2471AF,
  color-info-800: #17508D,
  color-info-900: #0E3975,
  color-info-transparent-100: rgba(73, 190, 244, 0.08),
  color-info-transparent-200: rgba(73, 190, 244, 0.16),
  color-info-transparent-300: rgba(73, 190, 244, 0.24),
  color-info-transparent-400: rgba(73, 190, 244, 0.32),
  color-info-transparent-500: rgba(73, 190, 244, 0.4),
  color-info-transparent-600: rgba(73, 190, 244, 0.48),
  color-warning-100: #FEF9D8,
  color-warning-200: #FEF1B1,
  color-warning-300: #FEE789,
  color-warning-400: #FDDC6C,
  color-warning-500: #FCCC3C,
  color-warning-600: #D8A92B,
  color-warning-700: #B5871E,
  color-warning-800: #926813,
  color-warning-900: #78520B,
  color-warning-transparent-100: rgba(252, 204, 60, 0.08),
  color-warning-transparent-200: rgba(252, 204, 60, 0.16),
  color-warning-transparent-300: rgba(252, 204, 60, 0.24),
  color-warning-transparent-400: rgba(252, 204, 60, 0.32),
  color-warning-transparent-500: rgba(252, 204, 60, 0.4),
  color-warning-transparent-600: rgba(252, 204, 60, 0.48),
  color-danger-100: #FADDCA,
  color-danger-200: #F6B596,
  color-danger-300: #E68060,
  color-danger-400: #CE4F38,
  color-danger-500: #ae1105,
  color-danger-600: #950305,
  color-danger-700: #7D020E,
  color-danger-800: #640113,
  color-danger-900: #530016,
  color-danger-transparent-100: rgba(255, 153, 124, 0.08),
  color-danger-transparent-200: rgba(255, 153, 124, 0.16),
  color-danger-transparent-300: rgba(255, 153, 124, 0.24),
  color-danger-transparent-400: rgba(255, 153, 124, 0.32),
  color-danger-transparent-500: rgba(255, 153, 124, 0.4),
  color-danger-transparent-600: rgba(255, 153, 124, 0.48),
  //color-basic-100: white,
  //color-basic-200: white,
  //color-basic-300: white,
  //color-basic-400: white,
  //color-basic-500: white,
  //color-basic-600:white,
  //color-basic-700: white,
  //color-basic-800: white,
  //color-basic-900: white,
  //color-basic-1000: white,
  //color-basic-1100: white,
  background-basic-color-1: white,
  background-basic-color-2: white,
  background-basic-color-3: white,
  background-basic-color-4: white,
  footer-background-color: #04091e,
  //border-basic-color-1:color-basic-700,
  //border-basic-color-2:color-basic-800,
  //border-basic-color-3:color-basic-900,
  //border-basic-color-4:color-basic-1000,
  //border-basic-color-5:color-basic-1100,
), 'light-red', default);
