@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';

$nb-themes: nb-register-theme((
  // add your variables here like:
  color-primary-100: #FEEDDD,
  color-primary-200: #FDD7BC,
  color-primary-300: #FABA99,
  color-primary-400: #F69E7E,
  color-primary-500: #F07255,
  color-primary-600: #CE4E3E,
  color-primary-700: #AC2F2A,
  color-primary-800: #8B1B1F,
  color-primary-900: #73101B,
  color-primary-transparent-100: rgba(240, 114, 85, 0.08),
  color-primary-transparent-200: rgba(240, 114, 85, 0.16),
  color-primary-transparent-300: rgba(240, 114, 85, 0.24),
  color-primary-transparent-400: rgba(240, 114, 85, 0.32),
  color-primary-transparent-500: rgba(240, 114, 85, 0.4),
  color-primary-transparent-600: rgba(240, 114, 85, 0.48),
  color-success-100: #EFFDE1,
  color-success-200: #DBFBC3,
  color-success-300: #C0F3A2,
  color-success-400: #A3E787,
  color-success-500: #7BD861,
  color-success-600: #57B946,
  color-success-700: #389B30,
  color-success-800: #1E7D1E,
  color-success-900: #126718,
  color-success-transparent-100: rgba(123, 216, 97, 0.08),
  color-success-transparent-200: rgba(123, 216, 97, 0.16),
  color-success-transparent-300: rgba(123, 216, 97, 0.24),
  color-success-transparent-400: rgba(123, 216, 97, 0.32),
  color-success-transparent-500: rgba(123, 216, 97, 0.4),
  color-success-transparent-600: rgba(123, 216, 97, 0.48),
  color-info-100: #DCF7FE,
  color-info-200: #B9ECFE,
  color-info-300: #96DDFE,
  color-info-400: #7BCCFD,
  color-info-500: #50B2FC,
  color-info-600: #3A8BD8,
  color-info-700: #2868B5,
  color-info-800: #194992,
  color-info-900: #0F3378,
  color-info-transparent-100: rgba(80, 178, 252, 0.08),
  color-info-transparent-200: rgba(80, 178, 252, 0.16),
  color-info-transparent-300: rgba(80, 178, 252, 0.24),
  color-info-transparent-400: rgba(80, 178, 252, 0.32),
  color-info-transparent-500: rgba(80, 178, 252, 0.4),
  color-info-transparent-600: rgba(80, 178, 252, 0.48),
  color-danger-100: #FADDCA,
  color-danger-200: #F6B596,
  color-danger-300: #E68060,
  color-danger-400: #CE4F38,
  color-danger-500: #ae1105,
  color-danger-600: #950305,
  color-danger-700: #7D020E,
  color-danger-800: #640113,
  color-danger-900: #530016,
  color-danger-transparent-100: rgba(255, 153, 124, 0.08),
  color-danger-transparent-200: rgba(255, 153, 124, 0.16),
  color-danger-transparent-300: rgba(255, 153, 124, 0.24),
  color-danger-transparent-400: rgba(255, 153, 124, 0.32),
  color-danger-transparent-500: rgba(255, 153, 124, 0.4),
  color-danger-transparent-600: rgba(255, 153, 124, 0.48),
  //color-basic-100: white,
  //color-basic-200: white,
  //color-basic-300: white,
  //color-basic-400: white,
  //color-basic-500: white,
  //color-basic-600:white,
  //color-basic-700: white,
  //color-basic-800: white,
  //color-basic-900: white,
  //color-basic-1000: white,
  //color-basic-1100: white,
  // font-family-primary: 'Roboto, sans-serif',
  font-family-secondary:'Playfair Display, serif',
  background-basic-color-1: white,
  background-basic-color-2: white,
  background-basic-color-3: white,
  background-basic-color-4: white,
  footer-background-color: #04091e,
  //border-basic-color-1:color-basic-700,
  //border-basic-color-2:color-basic-800,
  //border-basic-color-3:color-basic-900,
  //border-basic-color-4:color-basic-1000,
  //border-basic-color-5:color-basic-1100,
), 'light-red', default);
