<nb-card accent="primary">
  <nb-card-body class="example-items-col">
    <form [formGroup]="form">
      <!-- Invite URL -->
      <div class="form-group">
        <nb-form-field>
          <nb-icon nbPrefix icon="link-outline" pack="eva"></nb-icon>
          <input [formControl]="inviteUrl" type="text" nbInput fullWidth [shape]="componentShape" #inviteUrlInputElement
                 [placeholder]="translate.get('postCucu.inviteUrl.PLACEHOLDER') | async" [fieldSize]="componentSize"
                 [status]="inviteUrl | elementStatus">
        </nb-form-field>
      </div>
      <nb-card *ngIf="showCallProvidersInfoBox" class="call-providers-info-box">
        <nb-card-body>
          <b><a href="https://hangouts.google.com" target="_blank">Hangouts</a></b>:
          10 {{"postCucu.inviteUrl.PARTICIPANTS" | translate}}<br>
          <b><a href="https://www.skype.com" target="_blank">Skype</a></b>:
          50 {{"postCucu.inviteUrl.PARTICIPANTS" | translate}}<br>
          <b><a href="https://meet.jit.si" target="_blank">Jitsi Meet</a></b>:
          25 {{"postCucu.inviteUrl.PARTICIPANTS" | translate}}<br>
          <b><a href="https://zoom.us/signup" target="_blank">Zoom</a></b>:
          100 {{"postCucu.inviteUrl.PARTICIPANTS" | translate}}, max. 40 {{"postCucu.inviteUrl.MINUTES" | translate}}
          <br>
        </nb-card-body>
      </nb-card>
      <!-- Topic -->
      <div class="form-group">
        <nb-form-field>
          <nb-icon nbPrefix icon="heart-outline" pack="eva"></nb-icon>
          <input [formControl]="topic" type="text" nbInput fullWidth [shape]="componentShape"
                 [placeholder]="translate.get('postCucu.topic.PLACEHOLDER') | async"
                 [fieldSize]="componentSize" [status]="topic | elementStatus"
                 id="topic">
        </nb-form-field>
      </div>
      <!-- Language -->
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="form-group">
            <nb-select [formControl]="language" [placeholder]="translate.get('postCucu.language.PLACEHOLDER') | async"
                       [size]="componentSize"
                       [shape]="componentShape" fullWidth
                       [nbTooltip]="translate.get('postCucu.language.TOOLTIP') | async" nbTooltipStatus="basic">
              <nb-option *ngFor="let l of languages" [value]="l.short">{{l.name}}</nb-option>
            </nb-select>
          </div>
        </div>
      </div>

      <!-- Day and Time -->
      <div class="row">
        <div class="col-lg-7 col-md-12 col-sm-12">
          <div class="form-group">
            <nb-form-field>
              <nb-select [formControl]="day" [placeholder]="translate.get('postCucu.day.PLACEHOLDER') | async"
                         [selected]="'today'" [shape]="componentShape" [size]="componentSize" fullWidth
                         [nbTooltip]="translate.get('postCucu.day.TOOLTIP') | async" nbTooltipStatus="basic">
                <nb-option [value]="'today'">{{ 'postCucu.TODAY' | translate }}</nb-option>
                <nb-option [value]="'tomorrow'">{{ 'postCucu.TOMORROW' | translate }}</nb-option>
              </nb-select>
            </nb-form-field>
          </div>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12">
          <div class="form-group">
            <nb-form-field>
              <nb-icon nbPrefix icon="clock-outline" pack="eva"></nb-icon>
              <input [formControl]="time" fullWidth nbInput type="text"
                     [placeholder]="translate.get('postCucu.time.PLACEHOLDER') | async"
                     [status]="time | elementStatus" [shape]="componentShape"
                     [nbAutocomplete]="timeAutocomplete" [fieldSize]="componentSize"
                     [nbTooltip]="translate.get('postCucu.time.TOOLTIP') | async" nbTooltipStatus="basic"/>
              <nb-autocomplete #timeAutocomplete>
                <nb-option *ngFor="let t of (filteredTimeOptions$ | async)" [value]="t">
                  {{ t }}
                </nb-option>
              </nb-autocomplete>
            </nb-form-field>
          </div>
        </div>
      </div>

      <!-- Name & Avatar -->
      <div class="row">
        <div class="col-lg-7 col-md-12 col-sm-12">
          <div class="form-group">
            <nb-form-field>
              <nb-icon nbPrefix icon="person-outline" pack="eva"></nb-icon>
              <input [formControl]="userName" type="text" nbInput [shape]="componentShape"
                     [status]="userName | elementStatus"
                     [placeholder]="translate.get('postCucu.userName.PLACEHOLDER') | async"
                     [fieldSize]="componentSize" fullWidth>
            </nb-form-field>
          </div>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12">
          <div class="form-group">
            <button (click)="avatarInput.click()" nbButton status="primary"
                    [shape]="componentShape" [size]="componentSize" fullWidth
                    [nbTooltip]="translate.get('postCucu.uploadImage.TOOLTIP') | async" nbTooltipStatus="basic">
              {{ "postCucu.uploadImage.LABEL" | translate }}
            </button>
            <p class="avatar-upload-p">{{avatarUploadLabel}}</p>
            <input
              style="display: none" type="file" (change)="onAvatarFileChanged($event)"
              [accept]="'image/x-png, image/jpeg'"
              #avatarInput>
          </div>
        </div>
      </div>


      <div class="form-group">
        <button (click)="postCucu()" nbButton hero status="primary" fullWidth
                [shape]="'rectangle'" [size]="'large'">
          {{ "postCucu.post.LABEL" | translate }}
        </button>
      </div>
    </form>
  </nb-card-body>
</nb-card>





