<nb-card accent="primary">
  <!--  <nb-card-header>Create your first CUCU</nb-card-header>-->
  <nb-card-body class="example-items-col">
    <form [formGroup]="form">
      <!-- Invite URL -->
      <div class="form-group">
        <nb-form-field>
          <nb-icon nbPrefix icon="link-outline" pack="eva"></nb-icon>
          <input [formControl]="inviteUrl" type="text" nbInput fullWidth [shape]="componentShape"
                 placeholder="Invite Link (Hangouts, Skype or Zoom)" [fieldSize]="componentSize"
                 nbTooltip="This is a tooltip" nbTooltipStatus="primary" [status]="elementStatus(inviteUrl)"
                 #inviteUrlInput>
        </nb-form-field>
      </div>
      <nb-card *ngIf="showCallProvidersInfoBox" class="call-providers-info-box">
        <nb-card-body>
          <b><a href="https://hangouts.google.com" target="_blank">Hangouts</a></b>: 10 participants<br>
          <b><a href="https://www.skype.com" target="_blank">Skype</a></b>: 50 participants<br>
          <b><a href="https://meet.jit.si" target="_blank">Jitsi Meet</a></b>: 50 participants<br>
          <b><a href="https://zoom.us/signup" target="_blank">Zoom</a></b>: 100 participants, max. 40 minutes<br>
        </nb-card-body>
      </nb-card>
      <!-- Topic -->
      <div class="form-group">
        <nb-form-field>
          <nb-icon nbPrefix icon="heart-outline" pack="eva"></nb-icon>
          <input [formControl]="topic" type="text" nbInput fullWidth [shape]="componentShape"
                 placeholder="What's your Cucu about? Yoga, Reading, …"
                 [fieldSize]="componentSize" [status]="elementStatus(topic)"
                 id="topic">
        </nb-form-field>
      </div>
      <!-- Language -->
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="form-group">
            <nb-select [formControl]="language" placeholder="Select Language" [size]="componentSize"
                       [shape]="componentShape" fullWidth>
              <nb-option *ngFor="let l of languages" [value]="l.short">{{l.name}}</nb-option>
            </nb-select>
          </div>
        </div>
      </div>


      <!-- Day and Time -->
      <div class="row">
        <div class="col-lg-7 col-md-12 col-sm-12">
          <div class="form-group">
            <nb-form-field>
              <nb-select [formControl]="day" placeholder="Select Day" [selected]="'Today'"
                         [shape]="componentShape" [size]="componentSize" fullWidth>
                <nb-option [value]="'Today'">Today</nb-option>
                <nb-option [value]="'Tomorrow'">Tomorrow</nb-option>
              </nb-select>
            </nb-form-field>
          </div>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12">
          <div class="form-group">
            <nb-form-field>
              <nb-icon nbPrefix icon="clock-outline" pack="eva"></nb-icon>
              <input [formControl]="time" fullWidth nbInput type="text" placeholder="Enter time"
                     [status]="elementStatus(time)" [shape]="componentShape"
                     [nbAutocomplete]="timeAutocomplete" [fieldSize]="componentSize"/>
              <nb-autocomplete #timeAutocomplete>
                <nb-option *ngFor="let t of (filteredTimeOptions$ | async)" [value]="t">
                  {{ t }}
                </nb-option>
              </nb-autocomplete>
            </nb-form-field>
          </div>
        </div>
      </div>

      <!-- Name & Avatar -->
      <div class="row">
        <div class="col-lg-7 col-md-12 col-sm-12">
          <div class="form-group">
            <nb-form-field>
              <nb-icon nbPrefix icon="person-outline" pack="eva"></nb-icon>
              <input [formControl]="userName" type="text" nbInput [shape]="componentShape"
                     [status]="elementStatus(userName)"
                     placeholder="Your Name"
                     [fieldSize]="componentSize" fullWidth>
            </nb-form-field>
          </div>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12">
          <div class="form-group">
            <button (click)="avatarInput.click()" nbButton status="primary"
                    [shape]="componentShape" [size]="componentSize" fullWidth>
              Upload Picture
            </button>
            <input
              style="display: none" type="file" (change)="onAvatarFileChanged($event)"
              [accept]="'image/x-png, image/jpeg'"
              #avatarInput>
            <p>{{avatarUploadLabel}}</p>
          </div>
        </div>
      </div>


      <div class="form-group">
        <button (click)="postCucu()" nbButton hero [type]="'submit'" status="primary" fullWidth
                [shape]="'rectangle'" [size]="'large'">
          Post
        </button>
      </div>
    </form>
  </nb-card-body>
</nb-card>





