.call-providers-info-box {
  // margin: 10px;
  p {
    width: 7rem;
  }
  a {
    text-decoration: none;
  }
}

form {
  .col {
    padding: 0 5px;
  }
}
.video-call-services {
  img {
    width: 50px;
    margin: 0 10px;
  }
}

.avatar-upload-p {
  font-size: 12px !important;
  margin-top: 5px;
}
