.call-providers-info-box {
  // margin: 10px;
  p {
    width: 7rem;
  }

  a {
    text-decoration: none;
  }
}

.no-padding {
  padding: 0 5px;
}

.video-call-services {
  img {
    width: auto;
    height: 20px;
    margin: 0 10px;
  }
}

.type-col {
  .left {
    text-align: right;
    padding-right: 2px;
  }

  .center {
    text-align: center;
  }

  .right {
    text-align: left;
    padding-left: 2px;
  }

  .col {
    padding: 0;

    .text {
      font-size: 0.7rem;
      line-height: unset;
    }
  }

}

.avatar-upload-p {
  font-size: 12px !important;
  margin-top: 5px;
}
